body {
    font-family: 'Verdana';
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background-color: #ffd6d6; /* light pink */
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #d94f4f;
}


main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}


article {
    background-color: #e6e6e6; /* light gray */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


article h2 {
    color: #d94f4f;
    margin-top: 0;
}


article img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}


figcaption {
    font-size: 0.9em;
    text-align: center;
    color: #666;
    margin-top: 5px;
}


article p {
    margin-bottom: 15px;
}


footer {
    background-color: #ffd6d6;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 0.9em;
    color: #333;
}

.note {
  background-color: #fffae6;
  border-left: 4px solid #ffc107;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  font-style: italic;
}